/* Общие стили секций */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
  font-size: 18px;
}

.cover {
  position: relative;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  color: #fff;
  z-index: 0;
}

.lots {
  padding: 180px 50px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 25px;
  padding: 180px 50px;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 180px 50px 90px;
  font-size: 18px;
}

/* Компоненты */
.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.bet-button {
  padding: 12px 32px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
}

/* Стили шапки */
.header__menu {
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style-type: none;
}

.header__links-list-item {
  list-style: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  border-bottom: 1px solid #000;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.header__address {
  justify-self: end;
  max-width: 240px;
  font-style: normal;
  line-height: 1.35;
}

/* Стили обложки */
.cover__title {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 135px;
  font-size: 100px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.15;
  letter-spacing: 0.3em;
}

.aligned-text {
  display: block;
  line-height: 1.15;
}

.aligned-text_center {
  text-align: center;
  margin-left: 60px;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 78px;
}

.cover__description-text {
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
  word-spacing: 18px;
  line-height: 1.27;
}

/* Стили секции с карточками */
.lots__heading {
  margin-bottom: 27px;
  padding-left: 40px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: no-wrap;
  gap: 25px;
  margin-bottom: 30px;
  list-style: none;
}

.lots__card-list-item {
  width: 335px;
  height: 600px;
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
  color: #fff;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: underline;
  line-height: 1.2;
  z-index: 1;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  z-index: 1;
}

.lots__look-more-link {
  display: inline-block;
  margin-left: 40px;
  font-size: 20px;
  border-bottom: 1px solid #000;
}

/* Стили секции "Об аукционе" */
.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2;
}

.about__text p:first-child {
  margin-bottom: 25px;
}

/* Стили подвала */
.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-list-item {
  margin-bottom: 5px;
}

.footer__menu-link {
  font-size: 18px;
  border-bottom: 1px solid #000;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  gap: 48px;
  list-style: none;
}

.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
}

.footer__social-icon {
  width: 100%;
  height: 100%;
}

.address {
  font-style: normal;
  line-height: 1.35;
}

.address a {
  border-bottom: 1px solid #000;
}